<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
	<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css">
	<!--<link rel="stylesheet/less" type="text/css" href="/theme/css/style.less">-->
	<!--<script src="/theme/js/less.js" type="text/javascript"></script>-->
	<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygments.css">
	    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin,cyrillic-ext,latin-ext,cyrillic" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">


	<link href="{{ FEED_DOMAIN }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
	{% if FEED_RSS %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
	{% endif %}

	{% if article and article.latex %}
		{{ article.latex }}
	{% endif %}

	{% block head %}
		<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
		<meta charset="utf-8" />
	{% endblock head %}
</head>
<body>
    <header class="site-header">
        <div class="container">
            <div class="site-title-wrapper">
                <h1 class="site-title"><a href="/"><i class="fa fa-bars"></i> Home</a></h1>
                {% for name, link in LINKS %}
                    <a class="button-square" href="{{ link }}">{{ name }} </a>
                {% endfor %}
            </div>      
        </div>
    </header>

	{% block content %}
	{% endblock %}

    <footer class="footer">
        <div class="container">
            <div class="site-title-wrapper">
                <a class="button-square button-jump-top js-jump-top" href="#"><i class="fa fa-angle-up"></i></a>
            </div>

            <p class="footer-copyright">&copy; Zunayed Ali Morsalin <br/> Made with <a href="http://blog.getpelican.com/">Pelican</a> / Based on <a href="https://github.com/roryg/ghostwriter">Ghostwriter</a>  theme</p>
        </div>
    </footer>

	{% include 'analytics.html' %}
</body>
</html>
