{% if article and article.author %}
	<div class="container">
		<header class="post-header">
			<h1 class="post-title">{{ article.title }}</h1>
			<p class="post-date">Posted {{ article.locale_date }}</p class="post-date">
		</header>
	</div>
{% else %}
	<header>
		<div id="post-index" class="container">
		    <h1 class="post-title">Hi, I&#8217;m Zunayed</h1>
	        <p class="deck">
	  			I'm an Electrical & Software Engineer
	  			<br>and currently work at <a href="http://www.spies.ws/">Spies & Assassins</a><br>
			</p>
		</div>
	</header>
{% endif %}
